main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}

.application-view .user-card-full{
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 22px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 22px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 22px 0px rgba(34, 60, 80, 0.2);
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
    background-color: #f9f9fa;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 18px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}


.search {
    top: 6px;
    left: 10px
}

.green {
    color: green
}

.table-application tbody tr{
    cursor: pointer;
    background: white;
    transition-duration: 0.8s;
    border-radius: 1em;
}

.table-application tbody tr:hover{
    background-color: rgba(0, 0, 0, 0.05);
    transition-duration: 0.8s;
}

.log-user, .tabs{
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 22px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 22px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 22px 0px rgba(34, 60, 80, 0.2);
}

.tabs{

}

.message-block{
    max-height: 613px;
}

.message-block .item{
    font-size: 1em;
}

.message-block .item .status{
    font-size: 0.8em;
}

.message-block .item .message{
    font-size: 0.8em;
}

.message-block .item .message-time{
    font-size: 0.7em;
    opacity: 0.5;
}

.message-block .item .message-time a{
    color: black;
    opacity: 0.5;
}

.item-time{
    color: #adadad;
    font-size: 14px;
}

.edit{
    font-size: 0.7em;
    opacity: 0.5;
}

.box{
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 22px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 22px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 22px 0px rgba(34, 60, 80, 0.2);
}

.site-index .row, .site-index .row .col {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.box .box-image{
    width: 60px;
    height: 60px;
}

.rating {
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.rating:not(:checked)>input {
    display: none;
}

.rating:not(:checked)>label {
    width: 40px;
    cursor: pointer;
    font-size: 40px;
    color: lightgrey;
    text-align: center;
    line-height: 1;
}

.rating:not(:checked)>label:before {
    content: '★';
}

.rating>input:checked~label {
    color: gold;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: gold;
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: gold;
}

.rating-result {
    width: 265px;
    position: absolute;
    top: 20px;
    right: 80px;
}

@media(max-width:415px) {
    .rating-result {
        top: 60px;
        right: -50px;
    }
}

.rating-result span {
    padding: 0;
    font-size: 32px;
    margin: 0 3px;
    line-height: 1;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
    content: '★';
}
.rating-result > span.active {
    color: gold;
    text-shadow: 1px 1px #c60;
}